<!DOCTYPE html>

<html lang="pt-br">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">'
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jpdvweb Home</title>

    <!-- plugins:css -->

    <link rel="stylesheet" href="assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="assets/vendors/iconfonts/ionicons/css/ionicons.css"/>
    <link rel="stylesheet" href="assets/vendors/iconfonts/typicons/src/font/typicons.css"/>
    <link rel="stylesheet" href="assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css"/>
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css"/>
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.addons.css"/>

    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/icheck/skins/all.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/demo_1/style.css">
    <!-- End Layout styles -->

	<!-- jpdvweb css -->
	<link rel="stylesheet" href="assets/css/jpdvweb.css">

     <!-- icones -->
    <link href="assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="assets/images/favicon.png" />
</head>
<body>
	<div class="container-scroller">'
		  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">

			  <a class="navbar-brand brand-logo" href="index">
				<img src="assets/images/logo.svg" alt="logo" /> </a>
			  <a class="navbar-brand brand-logo-mini" href="index">
				<img src="assets/images/logo-mini.svg" alt="logo" /> </a>

			</div>
			<div class="navbar-menu-wrapper d-flex align-items-center">
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
				  <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">
					<i class="mdi mdi-email-outline"></i>
					<span class="count bg-success">3</span>
				  </a>
				  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
					<a class="dropdown-item py-3 border-bottom">'
					  <p class="mb-0 font-weight-medium float-left">Você tem 4 novas notifições </p>
					  <span class="badge badge-pill badge-primary float-right">Ver todas</span>
					</a>
					<a class="dropdown-item preview-item py-3">
					  <div class="preview-thumbnail">
						<i class="mdi mdi-alert m-auto text-primary"></i>
					  </div>
					  <div class="preview-item-content">
						<h6 class="preview-subject font-weight-normal text-dark mb-1">Debitos e Creditos</h6>
						<p class="font-weight-light small-text mb-0"> ver agora </p>
					  </div>
					</a>
					<a class="dropdown-item preview-item py-3">
					  <div class="preview-thumbnail">
						<i class="mdi mdi-settings m-auto text-primary"></i>
					  </div>                                                                                                                                        '
					  <div class="preview-item-content">
						<h6 class="preview-subject font-weight-normal text-dark mb-1">Configurações</h6>
						<p class="font-weight-light small-text mb-0"> ver agora </p>
					  </div>
					</a>
					<a class="dropdown-item preview-item py-3">
					  <div class="preview-thumbnail">
						<i class="mdi mdi-airballoon m-auto text-primary"></i>
					  </div>
					  <div class="preview-item-content">
						<h6 class="preview-subject font-weight-normal text-dark mb-1">Novo cadastro</h6>
						<p class="font-weight-light small-text mb-0"> 2 dias Atrás </p>
					  </div>
					</a>
				  </div>
				</li>
				<li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
				  <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">

					<img class="img-xs rounded-circle" src="{%Img%}" alt="Profile image"> </a>
				  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
					<div class="dropdown-header text-center">
					
					  <img class="img-md rounded-circle" src="{%Img%}" alt="Profile image">

					  <p class="mb-1 mt-3 font-weight-semibold">{%Usuario%}</p>

					  <p class="font-weight-light text-muted mb-0">{%Email%}</p>
					</div>
					<a class="dropdown-item">Configurações <span class="badge badge-pill badge-danger">1</span>
             <i class="dropdown-item-icon ti-dashboard"></i></a>
					<a class="dropdown-item">Mensagen<i class="dropdown-item-icon ti-comment-alt"></i></a>
					<a class="dropdown-item">Atividades<i class="dropdown-item-icon ti-location-arrow"></i></a>
					<a class="dropdown-item">Suporte<i class="dropdown-item-icon ti-help-alt"></i></a>
					<a class="dropdown-item">Sair<i class="dropdown-item-icon ti-power-off"></i></a>
				  </div>
				</li>
			  </ul>
			  <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
				<span class="mdi mdi-menu"></span>
			  </button>
			</div>
		  </nav>
		  <!-- partial -->'
		<div class="container-fluid page-body-wrapper">
		   <!-- partial:../../partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
			  <ul class="nav">
				<li class="nav-item nav-profile">
				  <a href="#" class="nav-link">
					<div class="profile-image">

					  <img class="img-xs rounded-circle" src="{%Img%}" alt="profile image">'

					  <div class="dot-indicator bg-success"></div>'
					</div>'
					<div class="text-wrapper">'

					  <p class="profile-name">{%Usuario%}</p>

					  <p class="designation">{%Cargo%}</p>'

					</div>'
				  </a>'
				</li>'
				<li class="nav-item nav-category center-text">Menu</li>
				<li class="nav-item">
				  <a class="nav-link" href="dashboard">
					  <span class="input-group-text-home">
						  <i class="fa fa-bar-chart-o"></i>
					   </span>
					<span class="menu-title">Estátisticas e Análises</span>
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="funcionarios">
					  <span class="input-group-text-home">
						  <i class="fa fa-users"></i>
					   </span>
					<span class="menu-title">Cadastro de Funcionário</span>
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="clientes">
					  <span class="input-group-text-home">
						  <i class="fa fa-vcard"></i>
					   </span>
					<span class="menu-title">Cadastro de Cliente</span>
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="produtos">
					  <span class="input-group-text-home">
						  <i class="fa fa-barcode"></i>
					   </span>
					<span class="menu-title">Cadastro de Produto</span>
				  </a>'
				</li>'
				<li class="nav-item">'
				  <a class="nav-link" href="fornecedores">
					<span class="input-group-text-home">
						  <i class="fa fa-drivers-license-o"></i>
					   </span>'
					<span class="menu-title">Cadastro de Fornecedor</span>
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="financeiro">
					  <span class="input-group-text-home">
						  <i class="fa fa-usd"></i>
					   </span>
					<span class="menu-title">Financeiro</span>
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="caixa">
					<span class="input-group-text-home">
						  <i class="fa fa-desktop"></i>
					   </span>
					<span class="menu-title">Caixa</span>
				  </a>
				</li>

				</ul>
			 </nav>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
<!-- ---------------------------------------------------------------------------------------------------body----------------------------------------------------------------------------------------------------------------- -->
       <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Cadastro de funcionario</h4>
                    <form class="form-sample">
                      <p class="card-description"> Informações Pessoais </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
					  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
					  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
					  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
					  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
					  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
					  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
					  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
					  <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">First Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Last Name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date of Birth</label>
                            <div class="col-sm-9">
                              <input class="form-control" placeholder="dd/mm/yyyy" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option>Category1</option>
                                <option>Category2</option>
                                <option>Category3</option>
                                <option>Category4</option>
                              </select>
                            </div>
                          </div>
                        </div>
					 </div>
					  <!-- -->
					  <p class="card-description"> Permissões </p>
					  <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Caixa </label>
                            </div>
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Fiscal </label>
                            </div>
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Financeiro </label>
                            </div>
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Cadastro de Produtos </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Cadastro de Fornecedores </label>
                            </div>
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Cadastro de Clientes </label>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Cadastro de Funcionários </label>
                            </div>
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Estáticas e Análises </label>
                            </div>
                          </div>
                        </div>
						          <div class="col-md-4">
                          <div class="form-group">
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Master </label>
                            </div>
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> RH </label>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Contábil </label>
                            </div>
                            <div class="form-check form-check-flat">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Geral </label>
                            </div>
                          </div>
                        </div>
                      </div>
						<!-- -->
                      <p class="card-description"> Address </p>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address 1</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address 2</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Postcode</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                              <select class="form-control">
                                <option>America</option>
                                <option>Italy</option>
                                <option>Russia</option>
                                <option>Britain</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
			  </div>
					
					<!-- content-wrapper ends -->                                                                          
				</div>                                                                                                     
			  <!-- partial:../../partials/_footer.html -->                                                                 
			  <footer class="footer">                                                                                      
				<div class="container-fluid clearfix">                                                                     
				  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">copyright ©{%ano%}
				  <a href="https://www.jjaerp.com/" target="_blank">JJA Consulting.</a>.                                   
				  Todos os direitos reservados.                                                                            
				  </span>                                                                                                  
				                                                                                                           
				</div>                                                                                                     
			  </footer>                                                                                                    
			  <!-- partial -->                                                                                             
			</div>                                                                                                         
			<!-- main-panel ends -->                                                                                       
		</div>                                                                                                             
		  <!-- page-body-wrapper ends -->                                                                                  
	</div>                                                                                                                 
        <!-- container-scroller -->                                                                                        
    <!-- plugins:js -->                                                                                                    
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>                                                        
    <script src="assets/vendors/js/vendor.bundle.addons.js"></script>                                                      
    <!-- endinject -->                                                                                                     
    <!-- Plugin js for this page-->                                                                                        
    <!-- End plugin js for this page-->                                                                                    
    <!-- inject:js -->                                                                                                     
    <script src="assets/js/shared/off-canvas.js"></script>                                                                 
    <script src="assets/js/shared/misc.js"></script>                                                                       
    <!-- endinject -->                                                                                                     
    <!-- Custom js for this page-->                                                                                        
    <script src="assets/js/demo_1/dashboard.js"></script>                                                                  
    <!-- End custom js for this page-->                                                                                    
                                                                                                                           
  </body>                                                                                                                  
</html> 							

