.margin-top-2 {
    margin-top: 2%;
}
.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link:before {
  
       border: none !important;
  
}
.input-group-text-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 0.56rem;
    margin-bottom: 0;
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    /* background-color: #e9ecef; */
    /* border: 1px solid #ced4da; */
    border-radius: 2px;
}
.center-text{
	text-align: center;
}
.margin-bottom-10-top-15{
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}
#band-sp{
	background-image: url("assets/images/bandeiras_estados/bandeira_de_sp.jpg");
}
.promo-top--9px:after {

    top: -9px !important;

}
.teste {

    width: 200px;
    height: 200px;
    border: solid 2px cadetblue;

}
/*
usado para esconder os controles html gerado pelo delphi
pois seu codigo gerado atrapalha o layout do template
*/
.controles-delphi{
	display:none;
}

/*
quando clicar no caixa o menu lateral some*/
.esconder{
	display:none;
}
.caixa {
    width: 100%;
}
/* esconder botoes de categorias para celular*/
.esconder-botoes{
    display:none;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
.x_content {
    padding: 0 3px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}
.cupomfiscal{
    font-family: Tahoma, Geneva, sans-serif !important; 
	font-weight: light !important;
    line-height: 1.3em !important; 	
    border-top-color: #dee2e6 !important; 
    border-top: 1px dashed  !important; 
	border-bottom-color: #dee2e6 !important; 
    border-bottom: 1px dashed  !important; 
	background: bisque;
    border-radius: 6px;
    font-family: sans-serif;
}


.cupomfiscal-itens {
    border-top-color: #dee2e6 !important; 
    border-top: 1px dashed  !important; 
	border-bottom-color: #dee2e6 !important; 
    border-bottom: 1px dashed  !important; 
	background: bisque;
}

/*tabelas de vendas personalizadas*/ 
.table.table-striped tbody tr:nth-child(odd) {
    background: rgba(0, 125, 255, 0.39);
}
.table .table-bordered  tr:hover, .table tr:hover, .table .thead-dark tr:hover {
          background-color: #0080ff !important; 
		   border: 1px solid #dee2e6 !important; 
        }

.table .thead-dark th {
    color: #fff;
    background-color: #1d7ede;
    border-color: #dee2e6;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #435e79  !important; 
}
.table .table-bordered td {
    border-color: #435e79  !important; 
}
.table  thead  tr  th:nth-child(odd){
	 border-color: #dee2e6;
}
/* fim */

@media (max-width: 700px) { 
.table td, .table th {
    padding: 0 !important; 
}
.produtos{

    flex-wrap: nowrap!important; 
}
.esconder-botoes{
    display:block;
}
.padding-right-12px{
    padding-right: 0px !important;
    
}
    }
	
.margin-top-25px{

    margin-top: 25px;

}

.d-none {
     display: block !important; 
}
.logo-img-50px {
    height: 50px;
    width: 50px !important; 
}

.navbar.default-layout .navbar-brand-wrapper {
    background: #1972f9 !important; 
}
.ImgEnviadaEmpresa{
	width: 100%;
	height: 100%;
}

/* validacao correcao*/
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center; 
    pointer-events: none;
	right: 15px;
}